    body {
        background-color: rgb(235, 239, 243);
    }
    
    .runner {
        position: fixed;
        bottom: 2%;
    }
    
    .fbt {
        font-weight: 100;
    }
    
    .fbt2 {
        font-weight: 800;
    }
    
    .zt {
        margin-top: 2vb;
        margin-left: 2vb;
    }