<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>二班Wiki</title>
    <script src="../static/js/mui.js"></script>
    <link href="../static/css/mui.css" rel="stylesheet" />
    <link href="../static/index.css" rel="stylesheet" />
    <script src="../static/js/index.js"></script>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
    <style>
        .hd1 {
            float: right;
        }
        
        .tt1 {
            margin-top: 12px;
            margin-right: 3vb;
            color: rgb(32, 32, 32);
            display: inline-block;
        }
        
        .jc {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <header style="background-color: rgb(255, 255, 255);" class="mui-bar mui-bar-nav">
        <h4 style="color: rgb(15, 148, 224); display: inline-block; float: left; margin-top: 12px; margin-left: 1vb;">EG Studios云服务</h4>
        <div class="hd1">
            <h4 class="tt1">Wiki主页</h4>
            <h4 class="tt1">班级人物</h4>
            <h4 class="tt1">重大事件</h4>
            <h4 class="tt1">更多选项</h4>
        </div>
    </header>
    <div class="mui-content">
        <div class="zt" style="display: grid; grid-template-columns: 0.1fr 1fr; ">
            <div>
                <h4 style="color: rgb(37, 138, 226);">编辑相关</h4><br>
                <li><a href="tl.html" style="color: black;">编辑条例</a></li>
                <li><a href="ymj.html" style="color: black;">源码解析</a></li>
                <li><a href="kyx.html" style="color: black;">开源协议</a></li>
                <li><a href="jr.html" style="color: black;">加入我们</a></li>
                <li><a href="wg.html" style="color: black;">违规人员</a></li>
                <br>
                <h4 style="color: rgb(37, 138, 226);">站点相关</h4><br>
                <li><a href="map.html" style="color: black;">网页地图</a></l i>
                    <li><a href="bjsj.html" style="color: black;">班级事件</a></li>
                    <li><a href="rwjs.html" style="color: black;">人物介绍</a></li>
                    <li><a href="download.html" style="color: black;">资源下载</a></li>
                    <li><a href="yhxz.html" style="color: black;">用户须知</a></li>
                    <br>
                    <h4 style="color: rgb(37, 138, 226);">讨论交流</h4><br>
                    <li><a href="404.html" style="color: black;">用户反馈</a></li>
                    <li><a href="404.html" style="color: black;">聊天室</a></li>
                    <li><a href="404.html" style="color: black;">举报平台</a></li>
                    <li><a href="404.html" style="color: black;">管制详情</a></li>
            </div>
            <div>
                <p>注意！此页面的所有信息不代表现实！请勿对号入座，详见<a href="">用户条例</a>.</p>
                <h2>特暴龙</h2>
                <br>
                <h3 class="fbt">煤果前任总统兼现任总统</h2><br>
                    <h4 class="fbt">史前巨龙</h4><br>
                    <h4 class="fbt"></h4><br>

            </div>
        </div>
        <p style="position: fixed;bottom: 1%;;left: 1%;">EG Studios 2025</p>
    </div>
</body>

</html>
